@{
  Layout = "_Layout";
}

@using RecipeBox.Models
@model RecipeBox.Models.Recipe

<h1>Recipe Details</h1>
<hr />
<h3>Recipe Name: @Html.DisplayFor(model => model.RecipeName)</h3>
<h4>Ingedients: @Html.DisplayFor(model => model.RecipeIngredients)</h4>
<h4>Instructions: @Html.DisplayFor(model => model.RecipeInstructions)</h4>
@if(@Model.JoinEntities.Count == 0)
{
  <h2>This recipe does not have any Categories yet!</h2>
}
else
{<p>This meal has the Categories of:</p>
  <ul>
    @foreach (RecipeTag fish in Model.JoinEntities)
    {
      <li>  @fish.Tag.TagName</li>
      @using (Html.BeginForm("DeleteFish", "Tags"))
      {
        @Html.Hidden("FishId", fish.RecipeTagId)
      
      }
      @* @Html.Hidden("FishId", @fish.RecipeTagId)
      <input type="submit" value="Delete" /> *@
    }
  </ul>
}
<a href='@Url.Action("AddTag", new { id = Model.RecipeId })'>
  <button type="button" class="button">Add/Remove a Category</button>
</a>
<a href='@Url.Action("Edit", new { id = Model.RecipeId })'>
  <button type="button" class="button">Edit this Recipe</button>
</a>
<a href='@Url.Action("Delete", new { id = Model.RecipeId })'>
  <button type="button" class="button">Delete this Recipe</button>
</a>
<br><br>
<a href='@Url.Action("Index")'>
  <button type="button" class="button">Return Home</button>
</a>