<div id='navLinks'>
  @Html.ActionLink("Add a new Recipe |", "Create", "Recipes")
  
  @Html.ActionLink("View all Recipes |", "Index", "Recipes")
  
  @Html.ActionLink("Add a new Tag |", "Create", "Tags")
  
  @Html.ActionLink("View all Tags |", "Index", "Tags")  
  
  @Html.ActionLink("Back home ", "Index", "Home")
</div>